<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FaceRecognition</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#ffffff">
    <script src="{{ url_for('static', filename='assets/js/config.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/dropzone/dropzone.min.css') }}"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="{{ url_for('static', filename='assets/css/theme-rtl.min.css') }}" rel="stylesheet" id="style-rtl">
    <link href="{{ url_for('static', filename='assets/css/theme.min.css') }}" rel="stylesheet" id="style-default">
    <link href="{{ url_for('static', filename='css/app-dark.css') }}" rel="stylesheet" >
    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>

</head>
<body class="container h-100 d-flex justify-content-center mt-5">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0"></h5>
        </div>
            <div class="card-body bg-light">
                <form class="dropzone dropzone-multiple p-0" id="my-awesome-dropzone" data-dropzone="data-dropzone" action="detectFace">
                    <div class="fallback"><input name="file" type="file" multiple="multiple" /></div>
                    <div class="dz-message" data-dz-message="data-dz-message"> <img class="me-2" src="{{url_for('static', filename='img/cloud-upload.svg')}}" width="25" alt="" />Drop your files here</div>
                    <div class="dz-preview dz-preview-multiple m-0 d-flex flex-column">
                        <div class="d-flex media align-items-center mb-3 pb-3 border-bottom btn-reveal-trigger"><img class="dz-image" src="{{url_for('static', filename='img/image-file-2.png')}}" alt="..." data-dz-thumbnail="data-dz-thumbnail" />
                        <div class="flex-1 d-flex flex-between-center">
                            <div>
                                <h6 data-dz-name="data-dz-name"></h6>
                                <div class="d-flex align-items-center">
                                  <p class="mb-0 fs--1 text-400 lh-1" data-dz-size="data-dz-size"></p>
                                  <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress=""></span></div>
                                </div>
                            </div>
                            <div class="dropdown font-sans-serif"><button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal dropdown-caret-none" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h"></span></button>
                                <div class="dropdown-menu dropdown-menu-end border py-2">
                                    <a class="dropdown-item" href="#!" data-dz-remove="data-dz-remove">Remove File</a>
                                    <a class="d-flex dropdown-item outputShower" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="pointer-events: none;">
                                        Image processing...
                                        <div class="text-center">
                                            <div class="spinner-grow spinner-grow-sm text-danger ml-1" role="status" style="max-size:2px!important">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </form>
                <div class="modal fade" id="staticBackdrop" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg mt-6" role="document">
                        <div class="modal-content border-0">
                            <div class="position-absolute top-0 end-0 mt-3 me-3 z-index-1"><button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button></div>
                            <div class="modal-body p-0">
                                <div class=" rounded-top-lg py-3 ps-4 pe-6">
                                    <h4 class="mb-1" id="staticBackdropLabel">Output</h4>
                                    <p class="fs--2 mb-0">Develop by <a class="link-600 fw-semi-bold" href="https://github.com/Corneille9" target="_blank">Corneille</a></p>
                                </div>
                                    <div class="p-4">
                                          <div class="row">
                                            <div class="col-lg-9">
                                              <div class=""><span class="fa-stack ms-n1 me-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-code" data-fa-transform="shrink-2"></i></span>
                                                <div class="flex-1">
                                                    <pre class="scrollbar border-0 w-75 mw-75 bg-dark ml-5"><code class="text-primary font-weight-bold" id="output"></code></pre>
                                                  <hr class="my-4" />
                                                </div>
                                              </div>
                                              <div class="d-flex"><span class="fa-stack ms-n1 me-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-align-left" data-fa-transform="shrink-2"></i></span>
                                                <div class="flex-1">
                                                  <h5 class="mb-2 fs-0">Description</h5>
                                                  <p class="text-word-break fs--1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur corporis, dolor doloribus, eligendi enim error id iusto laborum nulla numquam optio quos rem saepe sed sit suscipit tempora! Harum.</p>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

        </div>
    </div>
    <script src="{{ url_for('static', filename='vendors/popper/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/anchorjs/anchor.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/dropzone/dropzone.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/fontawesome/all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/lodash/lodash.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/theme.js') }}"></script>
</body>
</html>